@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

html body {
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #053a76 0%, #77aae4 70%, #fdbb2d 100% );
  background-attachment: fixed;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fdbb2d;
  backdrop-filter: blur(50px);
}
html {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
